{% extends 'employees/baseHeader.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <h2>Departments</h2>
            <hr/>

            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th>Department ID</th>
                            <th>Department Name</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for i in department %}

                        <tr>
                            <td><a href="/employee/department/{{i.deptId}}">{{i.deptId}}</a></td>
                            <td>{{i.departmentName}}</td>
                        </tr>

                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>

{% endblock %}