{% extends 'employees/baseHeader.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <h2>Employee</h2>
            <hr/>

            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th>Employee&nbsp;Num</th>
                            <th>Full&nbsp;Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Manager&nbsp;ID</th>
                            <th>Status</th>
                            <th>Department</th>
                            <th>Hired&nbsp;On</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for i in employees %}

                        <tr>
                            <td>{{i.employeeNum}}</td>
                            <td><a href="/Employee/{{i.employeeNum}}">{{i.firstName}}  {{i.lastName}}</a></td>
                            <td>{{i.email}}</td>
                            <td>{{i.addressStreet}}, {{i.addressCity}} {{i.addressState}}, {{i.addressPostal}}</td>
                            <td><a href="/employee/manager/{{i.managerId}}">
                                {% if i.managerId != null %}
                                    {{i.managerId}}
                                {% endif %}
                            </a></td>
                            <td><a href="/employee/status/{{i.status}}">{{i.status}}</a></td>
                            <td><a href="/employee/department/{{i.department}}">{{i.department}}</a></td>
                            <td>{{i.hireDate}}</td>
                        </tr>

                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>

{% endblock %}